body {
  background-color: grey;
}

h1 {
  font-size: 4vw;
  color: blueviolet;
}

p {
  font-size: 2vw;
  color: black;
}

h2 {
  font-size: 3vw;
  color:rgb(255, 189, 24);
}

li {
  font-size: large;
}

ol {
  list-style-position: inside;
}

ul {
  list-style-position: inside;
  list-style-type: disc;
}